-# TODO: This datetimepicker is probably the only thing using the JQuery UI
-#       theme, so I should probably remove the gem for this.
-#       No point having the extra dependancy!
%ul.nested_fields
  = f.input :datetime, :as => :date_and_time_picker, :label => "Date and time"
