button[type=submit] {
  font-weight: bold;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#accordion {
  a:hover {
    text-decoration: none;
  }
  span.summary {
    font-weight: normal;
    font-size: 0.8em;
  }
}

section.markdown {
  margin: 30px 0px 45px 0px;
  padding: 0px 15px 0px 15px;
  border: 2px dashed #DDD;
  background-color: #F6F6F6;
}
